<a href="https://colab.research.google.com/github/plthiyagu/01_rasa_color_cb/blob/master/Python_all_in_all_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import sys
from datetime import datetime
import keyword
import operator

Keywords are the reserved words in Python and can't be used as an identifier

In [ ]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print(len(keyword.kwlist))

33

In [ ]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: ignored

In [ ]:
1var = 10 # Identifier can't start with a digit

SyntaxError: ignored

In [ ]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: ignored

In [ ]:
"""
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore)
"""

val2 = 10

Comments in Python

In [ ]:
# Single line comment
val1  = 10

In [ ]:
'''
Multiple 
line 
comment
'''
val1  = 10

In [ ]:
"""
Multiple 
line 
comment
"""
val1  = 10

Statements

In [ ]:
p1 =10 + 20
p1

30

In [ ]:
# Single line statement
p2=['a','b','c','d']
p2

['a', 'b', 'c', 'd']

In [ ]:
# Multiple line statement
p1 =20 + 30 \
+40 + 50 + 60 \
+70 + 80
p1

350

In [ ]:
# Multiple line statement
p1 = [ 'a',
'b',
'c',
'd'
]
p1

['a', 'b', 'c', 'd']

In [ ]:
p=10
if p == 10:
  print ('P is equal to 10')

P is equal to 10

In [ ]:
for i  in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block"
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5): print(i)  # correct indentation but less readable

0
1
2
3
4

In [ ]:
j=20
for i in range(0,5):
  print(i)
print(j)

0
1
2
3
4
20

Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules.

2) They appear right after the definition of a function, method, class, or module.

In [ ]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [ ]:
square(2)

4

In [ ]:
square.__doc__  # We can access the Docstring using __doc__ method

'Square Function :- This function will return the square of a number'

In [ ]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
    if num %2 ==0:
      print("Even Number")
    else:
      print("Odd Number")

In [ ]:
def evnodd(num):
  if num%2==0:
    print(even)
  else:
    print(odd)

In [ ]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

In [ ]:
evenodd(9)

Odd Number

In [ ]:
evenodd(10)

Even Number

Variables

In [ ]:
p=30

In [ ]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
                          - Guaranteed to be unique
                          - Constant for this object during its lifetime. 
'''
id(p)

10915424

In [ ]:
hex(id(p)) # Memory address of the variable

'0xa68e60'

In [ ]:
p = 20  #Creates an integer object with value 20 and assigns the variable p to point to that object.
q = 20  # Create new reference q which will point to value 20. p & q will be pointing to same memory location.
r = q  # variable r will also point to the same location where p & q are pointing/
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3f0' where value 20 is stored

(20, int, '0xa68d20')

In [ ]:
r , type(r), hex(id(r))

(20, int, '0xa68d20')

In [ ]:
p = 20
p = p + 10 # Variable Overwriting
p

30

In [ ]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [ ]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate variables and their corresponding values.
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [ ]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

In [ ]:
val1 = 10  # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int class

10
<class 'int'>
28
10  is Integer? True

In [ ]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float class

92.78
<class 'float'>
24
92.78  is float? True

In [ ]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex class

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [ ]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [ ]:
sys.getsizeof(float())  # size of float object in bytes

24

In [ ]:
sys.getsizeof(complex()) # size of complex object in bytes

32

In [ ]:
bool1= True

In [ ]:
bool2=False

In [ ]:
print(type(bool))

<class 'type'>

In [ ]:
print(sys.getsizeof(bool1))

28

In [ ]:
isinstance(bool1,bool)

True

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
bool(None)

False

In [ ]:
bool(True)

True

In [ ]:
bool(False)

False

In [ ]:
str1= "Hello Python"
print(str1)

Hello Python

In [ ]:
mystr='Hello World'
print(mystr)

Hello World

In [ ]:
mystr= ''' Hello
           World'''
print(mystr)

 Hello
           World

In [ ]:
mystr = """Hello
           World"""  # Define string using triple quotes
print(mystr)

Hello
           World

In [ ]:
mystr=('Happy','Monday','Everyone')

In [ ]:
mystr2='Wooohoo '
mystr2= mystr2*5
mystr2

'Wooohoo Wooohoo Wooohoo Wooohoo Wooohoo '

In [ ]:
str1

'Hello Python'

In [ ]:
# First character in string "str1"
str1[0]

'H'

In [ ]:
# Last character in string using len function
str1[len(str1)-1]

'n'

In [ ]:
# Last character in string
str1[-1]

'n'

In [ ]:
str1[6] #Fetch 7th element of the string

'P'

In [ ]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluding the character at loc 5.

'Hello'

In [ ]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excluding index loc 12.

'Python'

In [ ]:
str1[-4:] # Retreive last four characters of the string

'thon'

In [ ]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [ ]:
str1[:6] # Retreive first six characters of the string

'Hello '

In [ ]:
str1

'Hello Python'

In [ ]:
#Strings are immutable which means elements of a string cannot be changed once they have been assigned.
str1[0:5] = 'HOLAA'

TypeError: ignored

In [ ]:
del str1 # Delete a string
print(srt1)

NameError: ignored

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Thiyagu"
s3 = s1 + s2
print(s3)

HelloThiyagu

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Thiyagu"
s3 = s1 + " " + s2
print(s3)

Hello Thiyagu

In [ ]:
mystr1 = "Hello Everyone"

In [ ]:
for i in mystr1:
  print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [ ]:
for i in enumerate(mystr1):
  print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [ ]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and returns it in a form of enumerate object.

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [ ]:
# String membership

mystr1 = "Hello Everyone"

print ('Hello' in mystr1) # Check whether substring "Hello" is present in string "mysrt1"
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mysrt1"
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt1"

True
True
False

In [ ]:
"""
The partition() method searches for a specified string and splits the string into a tuple containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [ ]:
"""
The rpartition() method searches for the last occurence of the specified string and splits the string into a tuple 
containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

In [ ]:
mystr2 = "   Hello Everyone  "
mystr2

'   Hello Everyone  '

In [ ]:
mystr2.strip()# Removes white space from begining & end

'Hello Everyone'

In [ ]:
mystr2.rstrip()# Removes all whitespaces at the end of the string

'   Hello Everyone'

In [ ]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone  '

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [ ]:
mystr2.strip('*')

'Hello Everyone***********All the Best'

In [ ]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [ ]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [ ]:
mystr2 = "   Hello Everyone  "
mystr2.lower()

'   hello everyone  '

In [ ]:
mystr2.upper()

'   HELLO EVERYONE  '

In [ ]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

'   Hollo Everyone  '

In [ ]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [ ]:
mystr5 = "one two Three one two two three"

In [ ]:
mystr5.count("one")# Number of times substring "one" occurred in string.

2

In [ ]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [ ]:
mystr5.startswith("one")  # Return boolean value True if string starts with "one"

True

In [ ]:
mystr5.endswith("three")  # Return boolean value True if string ends with "three"

True

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [ ]:
mystr4.split()

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [ ]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [ ]:
newlist=[item for item in mystr4]

In [ ]:
newlist

['o',
 'n',
 'e',
 ' ',
 't',
 'w',
 'o',
 ' ',
 't',
 'h',
 'r',
 'e',
 'e',
 ' ',
 'f',
 'o',
 'u',
 'r',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 't',
 'w',
 'o',
 ' ',
 't',
 'w',
 'o',
 ' ',
 't',
 'h',
 'r',
 'e',
 'e',
 ' ',
 'f',
 'i',
 'v',
 'e',
 ' ',
 'f',
 'i',
 'v',
 'e',
 ' ',
 's',
 'i',
 'x',
 ' ',
 's',
 'e',
 'v',
 'e',
 'n',
 ' ',
 's',
 'i',
 'x',
 ' ',
 's',
 'e',
 'v',
 'e',
 'n',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 't',
 'e',
 'n',
 ' ',
 'e',
 'i',
 'g',
 'h',
 't',
 ' ',
 't',
 'e',
 'n',
 ' ',
 'n',
 'i',
 'n',
 'e',
 ' ',
 'e',
 'l',
 'e',
 'v',
 'e',
 'n',
 ' ',
 't',
 'e',
 'n',
 ' ',
 't',
 'e',
 'n',
 ' ',
 'n',
 'i',
 'n',
 'e']

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"

print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"

print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as the fill character.
print(str2)

                                          WELCOME EVERYONE

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the fill character.
print(str2)

                                 WELCOME EVERYONE

In [ ]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [ ]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [ ]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [ ]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())  # Returns True if all the characters are in upper case
print(mystr7.islower())  # Returns True if all the characters are in lower case

True
False

In [ ]:
mystr8 = 'abcdef'
print(mystr8.isupper())  # Returns True if all the characters are in upper case
print(mystr8.islower())  # Returns True if all the characters are in lower case

False
True

In [ ]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [ ]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"

print(loc)

51

In [ ]:
txt = "   abc def ghi   "

txt.rstrip()

'   abc def ghi'

In [ ]:
txt = "   abc def ghi   "

txt.lstrip()

'abc def ghi   '

In [ ]:
txt = "   abc def ghi   "

txt.strip()

'abc def ghi'

In [ ]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: ignored

In [ ]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

In [ ]:
list1 = []      # Empty List

In [ ]:
type(list1)

list

In [ ]:
list2 = [10,30,60]      # List of integers numbers

In [ ]:
list3 = [10.77,30.66,60.89]       # List of float numbers

In [ ]:
list4 = ['one','two' , "three"]   # List of strings

In [ ]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]]    # Nested Lists

In [ ]:
list6 = [100, 'Asif', 17.765]   # List of mixed data types

In [ ]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [ ]:
len(list7)

5

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list4[0] # Retreive first element of the list

'one'

In [ ]:
list4[0] # Retreive first element of the list

'one'

In [ ]:
list5[-1]  # Last item of the list

[150, 90]

In [ ]:
list5[len(list5)-1]

[150, 90]

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [ ]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item at loc 3.

['one', 'two', 'three']

In [ ]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

['three', 'four', 'five']

In [ ]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [ ]:
mylist[:2]  # Return first two items

['one', 'two']

In [ ]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [ ]:
mylist[-1] # Return last item of the list

'eight'

In [ ]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list  
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [ ]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.clear()  # Empty List / Delete all items in the list
mylist

NameError: ignored

In [ ]:
del mylist
mylist

NameError: ignored

In [ ]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist1=mylist.copy()

In [ ]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same as both are pointing to same list.

(140254540530312, 140254540913480)

In [ ]:
mylist2 = mylist.copy() # Create a copy of the list

In [ ]:
id(mylist2)

140254541144584

In [ ]:
mylist[0] = 1

In [ ]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [ ]:
list3= list1 + list2

In [ ]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
'one' in list1 # Check if 'one' exist in the list

True

In [ ]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [ ]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.reverse() # Reverse the list
list1

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']

In [ ]:
list1 = list1[::-1] # Reverse the list
list1

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()   # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)  # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)        # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [ ]:
list1

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [ ]:
for i in list1:
  print(i)

eight
five
four
one
seven
six
three
two

In [ ]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'five')
(2, 'four')
(3, 'one')
(4, 'seven')
(5, 'six')
(6, 'three')
(7, 'two')

In [ ]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [ ]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [ ]:
list10.count('two') # Occurence of item 'two' in the list

2

In [ ]:
list10.count('four') #Occurence of item 'four' in the list

1

In [ ]:
L1 = [1,2,3,4,0]

In [ ]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [ ]:
any(L1)  # Will Return True as we have items in the list with True value

True

In [ ]:
L2 = [1,2,3,4,True,False]

In [ ]:
all(L1)

False

In [ ]:
any(L1)

True

In [ ]:
L3 = [1,2,3,True]

In [ ]:
all(L3) # Will return True as all items in the list are True

True

In [ ]:
any(L3) # Will Return True as we have items in the list with True value

True

List Comprehensions
List Comprehensions provide an elegant way to create new lists.

It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [ ]:
mystring="WELCOME"
mylist = [ text for text in mystring] # Iterating through a string Using List Comprehension

In [ ]:
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [ ]:
mylist1= [i for i in range(20) if i %2==0 ] # Display all even numbers between 0 - 40 using List Comprehension
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between 0 - 40 using List Comprehension
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [ ]:
mylist3 = [num **2 for num in range(10)]# calculate square of all numbers between 0 - 10 using List Comprehension
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
mylist4= [i for i in range(200) if i%3 ==0 if i%9 == 0 if i %12 ==0]
mylist4

[0, 36, 72, 108, 144, 180]

In [ ]:
l1=[print("{} is Even Number".format(i)) if i %2==0 else print("{} is Odd Number".format(i)) for i in range(10)]

0 is Even Number
1 is Odd Number
2 is Even Number
3 is Odd Number
4 is Even Number
5 is Odd Number
6 is Even Number
7 is Odd Number
8 is Even Number
9 is Odd Number

In [ ]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
letters= [text for text in mystr if text.isalpha()]
letters

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [ ]:
tup1 = ()      # Empty tuple

In [ ]:
tup2= (10,20,30)
tup2

(10, 20, 30)

In [ ]:
tup3 = (10.77,30.66,60.89)       # tuple of float numbers

In [ ]:
tup4 = ('one','two' , "three")   # tuple of strings

In [ ]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90))   # Nested tuples

In [ ]:
tup6 = (100, 'Asif', 17.765)   # Tuple of mixed data types

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [ ]:
tup7

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [ ]:
tup2[0] # Retreive first element of the tuple

10

In [ ]:
tup4[0] # Retreive first element of the tuple

'one'

In [ ]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [ ]:
tup4[-1] # Last item of the tuple

'three'

In [ ]:
tup5[-1]  # Last item of the tuple

(150, 90)

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item at loc 3.

('one', 'two', 'three')

In [ ]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

('three', 'four', 'five')

In [ ]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [ ]:
mytuple[:2]  # Return first two items

('one', 'two')

In [ ]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [ ]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [ ]:
mytuple[-1] # Return last item of the tuple

'eight'

In [ ]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
del mytuple

In [ ]:
mytuple

NameError: ignored

In [ ]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

NameError: ignored

In [ ]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

NameError: ignored

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
for i in mytuple:
  print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [ ]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
mytuple1.count('one')

3

In [ ]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple

True

In [ ]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [ ]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [ ]:
if 'eleven' in mytuple:  # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [ ]:
mytuple.index('five') # Index of first element equal to 'five'

NameError: ignored

In [ ]:
mytuple2 = (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)  # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

In [ ]:
myset= {1,2,3,4,5}

In [ ]:
myset

{1, 2, 3, 4, 5}

In [ ]:
len(myset)

5

In [ ]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [ ]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [ ]:
myset2 = {'Asif' , 'John' , 'Asif','Tyrion'} # Set of Strings

In [ ]:
myset2

{'Asif', 'John', 'Tyrion'}

In [ ]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [ ]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lists
myset3

TypeError: ignored

In [ ]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [ ]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
  print(i)

four
seven
five
two
three
one
six
eight

In [ ]:
for i in enumerate(myset):
  print(i)

(0, 'four')
(1, 'seven')
(2, 'five')
(3, 'two')
(4, 'three')
(5, 'one')
(6, 'six')
(7, 'eight')

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
'one' in myset

True

In [ ]:
'ten' in myset # Check if 'ten' exist in the set

False

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [ ]:
if 'eleven' in myset:  # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add('nine')

In [ ]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])  # Add multiple item to a set using update() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.remove('nine')# remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.clear() # Delete all items in a set
myset

set()

In [ ]:
del myset
myset

NameError: ignored

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 = myset  # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
id(myset),id(myset1)

(139841681848136, 139841681848136)

In [ ]:
my_set=myset.copy()

In [ ]:
id(my_set)

139842115491432

In [ ]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
my_set # Copy of the set won't be impacted due to changes made on the original Set.

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B, C)  # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
"""
Updates the set calling the update() method with union of A , B & C. 

For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A & B  # Intersection of A and B (Common items in both sets)

{4, 5}

In [ ]:
"""
Updates the set calling the intersection_update() method with the intersection of sets.

For below example Set A will be updated  with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A - B  # set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [ ]:
B- A  # set of elements that are only in B but not in A

{6, 7, 8}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
"""
Updates the set calling the difference_update() method with the difference of sets.

For below example Set B will be updated  with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)  # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [ ]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.

For below example Set A will be updated  with the symmetric difference of A & B.
"""

A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [23]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [24]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
A.union(B, C)  # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
"""
Updates the set calling the update() method with union of A , B & C. 

For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [29]:
A & B  # Intersection of A and B (Common items in both sets)

{4, 5}

In [30]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [31]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A.

True

In [32]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A.

True

In [33]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

True

In [34]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

False

In [35]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
sum(A)

45

In [37]:
max(A)

9

In [38]:
min(A)

1

In [39]:
len(A)

9

In [40]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [41]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
mydict = dict() # empty dictionary
mydict

{}

In [44]:
mydict=dict({'one':1,'two':2,'three':3})# dictionary with character keys
mydict

{'one': 1, 'three': 3, 'two': 2}

In [45]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 3: 'three', 'A': 'two'}

In [46]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [47]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [48]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [49]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with mixed keys
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [50]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],  'B':('Bat' , 'cat' , 'hat')} # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [51]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20},  'B':('Bat' , 'cat' , 'hat')} # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': {'Age': 20, 'Name': 'asif'},
 'B': ('Bat', 'cat', 'hat')}

In [52]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)   # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [53]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of keys with value list
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [54]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [55]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [56]:
mydict[1] # Access item using key

'one'

In [58]:
mydict.get(1) # Access item using get() method

'one'

In [59]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'DOB': 1991, 'ID': 74123, 'Name': 'Asif', 'job': 'Analyst'}

In [60]:
mydict1['Name']  # Access item using key

'Asif'

In [65]:
mydict1 = {'Name':'thiyagu' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'thiyagu'}

In [66]:
mydict1['DOB'] = 1992  # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Address': 'Delhi', 'DOB': 1992, 'ID': 12345, 'Name': 'thiyagu'}

In [67]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Address': 'Delhi', 'DOB': 1995, 'ID': 12345, 'Name': 'thiyagu'}

In [68]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Address': 'Delhi',
 'DOB': 1995,
 'ID': 12345,
 'Job': 'Analyst',
 'Name': 'thiyagu'}

In [69]:
mydict1.popitem() # A random item is removed
mydict1

{'Address': 'Delhi', 'DOB': 1995, 'ID': 12345, 'Name': 'thiyagu'}

In [71]:
mydict1.pop('DOB') # Removing items in the dictionary using Pop method
mydict1

{'Address': 'Delhi', 'ID': 12345, 'Name': 'thiyagu'}

In [72]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Address': 'Delhi', 'Name': 'thiyagu'}

In [73]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [74]:
del mydict1 # Delete the dictionary object
mydict1

NameError: ignored

In [75]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [76]:
mydict1 = mydict # Create a new reference "mydict1"

In [77]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same as both are pointing to same dictionary.

(140115413699032, 140115413699032)

In [78]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [79]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict2 is pointing to the copy of the existing dict.

140115413698240

In [81]:
mydict['Address'] = 'Mumbai'
mydict

{'Address': 'Mumbai', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [82]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Address': 'Mumbai', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [83]:
mydict2 # Copy of list won't be impacted due to the changes made in the original dictionary

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [84]:
mydict1 = {'Name':'Thiyagu' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Address': 'Hilsinki',
 'DOB': 1991,
 'ID': 12345,
 'Job': 'Analyst',
 'Name': 'Thiyagu'}

In [86]:
for i in mydict1:
  print(i,":",mydict1[i])

Name : Thiyagu
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [87]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Thiyagu
12345
1991
Hilsinki
Analyst

In [88]:
mydict1 = {'Name':'Thiyagu' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'DOB': 1991, 'ID': 12345, 'Job': 'Analyst', 'Name': 'Thiyagu'}

In [90]:
'Name'  in mydict1 # Membership test can be only done for keys.

True

In [91]:
'ID' in mydict1

True

In [92]:
'Address' in mydict1

False

In [93]:
mydict1 = {'Name':'Thiyagu' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'DOB': 1991, 'ID': 12345, 'Job': 'Analyst', 'Name': 'Thiyagu'}

In [95]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [96]:
any(mydict1)  # Will Return True as we have items in the dictionary with True value

True

In [97]:
mydict1[0] = 'test1'
mydict1

{0: 'test1', 'DOB': 1991, 'ID': 12345, 'Job': 'Analyst', 'Name': 'Thiyagu'}

In [98]:
all(mydict1) # Returns false as one value is false

False

In [100]:
double = {i:i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [101]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [104]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

mydict={k:v for (k,v) in zip(key,value)}
mydict

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [103]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1= {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [105]:
str1 = "Natural Language Processing"
mydict2= {k:v for (k,v) in enumerate(str1)}
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [107]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3= {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [40]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [41]:
mylist= mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [42]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['three',
 'nine',
 'six',
 'eleven',
 'one',
 'four',
 'two',
 'ten',
 'seven',
 'five',
 'eight']

In [43]:
# Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 =dict()
for i in range(len(mylist1)):
  for j in range(len(mylist)):
    if mylist[i] == mylist[j]:
      count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'three': 5, 'nine': 3, 'six': 2, 'eleven': 1, 'one': 5, 'four': 3, 'two': 3, 'ten': 2, 'seven': 2, 'five': 2, 'eight': 2}

In [47]:
count2= [0] *len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
  for j in range(len(mylist)):
    if mylist1[i] == mylist[j]:
      count2[i] += 1
    mydict5[mylist1[i]] =count2[i]
print(mydict5)

{'three': 2, 'nine': 2, 'six': 2, 'eleven': 1, 'one': 5, 'four': 1, 'two': 3, 'ten': 4, 'seven': 2, 'five': 2, 'eight': 1}

In [1]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [2]:
mylist=mystr4.split()

In [3]:
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [4]:
mylist1=set(mylist)
mylist1= list(mylist1)
mylist1

['eight',
 'six',
 'one',
 'two',
 'three',
 'four',
 'seven',
 'five',
 'ten',
 'nine',
 'eleven']

In [5]:
count2= [0] *len(mylist1)
mydict6 = dict()
for i in range(len(mylist1)):
  for j in range(len(mylist)):
    if mylist1[i] == mylist[j]:
      count2[i] += 1
    mydict6[mylist1[i]] =count2[i]
print(mydict6)

{'eight': 1, 'six': 2, 'one': 5, 'two': 3, 'three': 2, 'four': 1, 'seven': 2, 'five': 2, 'ten': 4, 'nine': 2, 'eleven': 1}

In [14]:
count2= [0] *len(mylist1)
mydict6 = dict()
for i in range(len(mylist1)):
  for j in range(len(mylist)):
    if mylist1[i] == mylist[j]:
      count2[i] += 1
    mydict6[mylist1[i]] =count2[i]
print(mydict6)

{'one': 1, 'two': 1, 'three': 1, 'four': 1, 'five': 1, 'six': 1, 'seven': 1, 'ten': 1, 'eight': 1, 'nine': 1, 'eleven': 1}

In [8]:
a = 5
b = 2

x = 'Asif'
y = 'Bhat'

# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a,b,c))

#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))
  
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))
  
# Multiplication
c = a * b  
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))
  
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))
  
# Modulo of both number  
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))
  
# Power 
c = a ** b 
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))

# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- AsifBhat

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

In [9]:
x = 20
y = 30

print('Is x greater than y :- ',x>y)

print('\nIs x less than  y :- ',x<y)

print('\nIs x equal to  y :- ',x==y)

print('\nIs x not equal to y :- ',x!=y)

print('\nIs x greater than or equal to y :- ',x>=y)

print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than  y :-  True

Is x equal to  y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [10]:
x = 20
y = 30

print('Is x greater than y :- ',x>y)

print('\nIs x less than  y :- ',x<y)

print('\nIs x equal to  y :- ',x==y)

print('\nIs x not equal to y :- ',x!=y)

print('\nIs x greater than or equal to y :- ',x>=y)

print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than  y :-  True

Is x equal to  y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [1]:
x = True
y = False

print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

In [2]:
x = 18  # binary form 10010
y = 6  # binary form 00110

print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

In [3]:
10

print('Initialize x with value 10 (x=10)) :- ',x)


x+=20 # x = x+20
print ('Add 20 to x :- ',x)


x-=20 # x = x-20
print ('subtract 20 from x :- ',x)


x/=10 # x = x/10
print ('Divide x by 10 :- ',x)



x*=10 # x = x/10
print ('Multiply x by 10 :- ',x)

x = int(x)


x**=2 # x = x/10
print ('x raised to the power 2 :- ',x)



x%=2
print ('Modulo Division :- ',x)


x = 20


x//=3
print ('Floor Division :- ',x)


x&=2
print('Bitwise AND :- ',x)


x|=2
print('Bitwise OR :- ',x)


x^=2
print('Bitwise XOR :- ',x)


x = 10


x<<=2
print('Bitwise left shift operation',x)


x>>=2
print('Bitwise right shift operation',x)

Initialize x with value 10 (x=10)) :-  18
Add 20 to x :-  38
subtract 20 from x :-  18
Divide x by 10 :-  1.8
Multiply x by 10 :-  18.0
x raised to the power 2 :-  324
Modulo Division :-  0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 40
Bitwise right shift operation 10

In [4]:
mystr = 'Asif Ali Bhat'

'Asif' in mystr , 'John' in mystr

(True, False)

In [5]:
mystr = 'Asif Ali Bhat'

'Asif' not in mystr , 'John' not in mystr

(False, True)

In [6]:
def myfunc():
  print("Hello Python Lovers")
myfunc()

Hello Python Lovers

In [8]:
def details(name,userid,country):
  print('Name :- ', name)
  print('User ID is :- ', userid)
  
  print('Country :- ',country)
    
details('Asif' , 'asif123' , 'India')

Name :-  Asif
User ID is :-  asif123
Country :-  India

In [9]:
def square(n):
  return n * n

In [10]:
square (10)

100

In [12]:
def even_odd(n):
  """ This function will check whether a number is even or odd"""
  if n%2 ==0:
    print (n, ' is even number')
  else:
      print (n, ' is odd number')

even_odd(3)
even_odd(4)
print(even_odd.__doc__) # Print function documentation string

3  is odd number
4  is even number
 This function will check whether a number is even or odd

In [13]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)

fullname('Asif' , 'Ali' , 'Bhat')

Asif Ali Bhat

In [14]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)

fullname(lastname = 'Bhat' , middlename='Ali' , firstname='Asif') # Keyword Arguments. Order of the arguments does not matter.

Asif Ali Bhat

In [15]:
fullname ('Asif') # This will throw error as function is expecting 3 arguments.

TypeError: ignored

In [16]:
def myfunc(city = 'Mumbai'):
    print('Most Populous City :- ', city)
    
myfunc() # When a function is called without an argument it will use default value

Most Populous City :-  Mumbai

In [17]:
var1 = 100 # Variable with Global scope.

def myfunc():
    print(var1) # Value 100 will be displayed due to global scope of var1

    
myfunc()
print(var1)

100
100

In [19]:
def myfunc1():
    var2 = 10  # Variable with Local scope
    print(var2)

def myfunc2():
    print(var2) # This will throw error because var2 has a local scope. Var2 is only accessible in myfunc1()

myfunc1()
myfunc2()

10

NameError: ignored

In [20]:
var1 = 100 # Variable with Global scope.

def myfunc():
    var1 = 99  # Local scope
    print(var1)

    
myfunc()  
print(var1) # The original value of var1 (100) will be retained due to global scope.

99
100

In [21]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    del list1[0]

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [22]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    list1.append(100)

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]

In [23]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken now as new object is assigned to 'list1'.

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [24]:
def swap(a,b):
    temp = a
    a = b      # link of 'a' with previous object is broken now as new object is assigned to 'a'. 
    b = temp   # link of 'b' with previous object is broken now as new object is assigned to 'b'. 

a = 10
b = 20
swap(a,b)
a,b

(10, 20)

In [27]:
def factorial(num):
  if num <=1:
    return 1
  else:
    return num * factorial(num-1)
factorial(4)

24

In [28]:
def add(num):# Sum of first n natural numbers
  if num ==0:
    return 0
  else:
    return num + add(num-1)
add(5) # Sum of first five natural numbers (1,2,3,4,5)

15

In [31]:
def fiboaaci(num):
  if num <=1:
    return num
  if num == 2:
    return 1
  else:
    return (fiboaaci(num-1)+fiboaaci(num-2))
nums = int(input("How many fibonacci numbers you want to generate -"))



for i in range(nums):
    print(fiboaaci(i))  # Generate Fibonacci series

How many fibonacci numbers you want to generate -5
0
1
1
2
3

In [32]:
def add(a,b,c):
    return a+b+c
    
print(add(10,20,30)) # Sum of two numbers

60

In [33]:
print(add(1,2,3,4)) '''This will throw below error as this function will only take two argumengts. 
If we want to make argument list dynamic then *args wil come in picture'''

SyntaxError: ignored

In [37]:
def some_args(arg_1, arg_2, arg_3):
    print("arg_1:", arg_1)
    print("arg_2:", arg_2)
    print("arg_3:", arg_3)

my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [49]:
def add(*args):
    return sum(args)

print(add(1,2,3))
print(add(1,2,3,4))  # *args will take dynamic argument list. So add() function will perform addition of any number of arguments
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

6
10
15
21
28

In [51]:
def add(*args):
  sum=0
  for i in args:
    sum += i
  return sum

print(add(1,2,3))
print(add(1,2,3,4))  # *args will take dynamic argument list. So add() function will perform addition of any number of arguments
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

6
10
15
21
28

In [45]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)

add1(*list1) , add1(*tuple1) #tuple & list items will be passed as argument list and sum will be returned for both cases.

(28, 28)

In [46]:
def UserDetails(**kwargs):
    print(kwargs)

UserDetails(Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' , Language= 'Hindi')

{'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

In [47]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))

UserDetails(Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' , Language= 'Hindi')

Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Hindi

In [48]:
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

UserDetails(**mydict)

Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Hindi

In [43]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]

add1(*list1 , *list2 , *list3 , *list4 ) #All four lists are unpacked and each individual item is passed to add1() function

112

In [44]:
def UserDetails(*args):
    print(args)

UserDetails('Asif' , 7412 , 41102 , 33 ,  'India' , 'Hindi')

('Asif', 7412, 41102, 33, 'India', 'Hindi')

In [52]:
def UserDetails(licenseNo,  *args , phoneNo=0 , **kwargs): # Using all four arguments types
    print('License No :- ', licenseNo)
    j=''
    for i in args:
        j = j+i
    print('Full Name :-',j)
    print('Phone Number:- ',phoneNo)
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
        
        
name = ['Asif' , ' ' , 'Ali' , ' ','Bhat']
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

UserDetails('BHT145' , *name , phoneNo=1234567890,**mydict )

License No :-  BHT145
Full Name :- Asif Ali Bhat
Phone Number:-  1234567890
Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Hindi

In [53]:
def UserDetails(licenseNo, *args , phoneNo=0, **kwargs): # Using all four arguments types. CORRECT ORDER
    print('Nothing')

In [54]:
def UserDetails(licenseNo, **kwargs , *args): # This will fail. *args MUST come before **kwargs in the argument list
    print('Nothing')

SyntaxError: ignored

In [55]:
#The below function will fail. Default argument/positional argument (licenseNo) MUST come before Keyword argument(ID)
def UserDetails(ID = 1, licenseNo, *args):
    print('Nothing')

SyntaxError: ignored

In [1]:
addition= lambda a : a+10 # This lambda function adds value 10 to an argument.
print(addition(5))

15

In [2]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b) and returns their product (a*b).
print(product(5, 6))

30

In [3]:
addition = lambda a, b, c : a + b + c  #This lambda function takes three arguments (a,b,c) and returns their sum (a+b+c).
print(addition(5, 6, 2))

13

In [5]:
res = (lambda *args: sum(args))  # This lambda function can take any number of arguments and return thier sum.
res(10,20) , res(10,20,30,40) ,  res(10,20,30,40,50,60,70)

(30, 100, 280)

In [6]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [7]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [3]:
def product(nums):
  total=1
  for i in nums:
    total *= i
  return total
# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [4]:
def myfunc(n):
  return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [5]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(num):
  if num %2 ==1: return True
  else: return False

odd_num= list(filter(odd,list1)) #  This Filter function filters list1 and passes all odd numbers to filter().
odd_num

[1, 3, 5, 7, 9]

In [7]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lambda function to filter().

odd_num= list(filter(lambda n: n%2==1,list1))
odd_num

[1, 3, 5, 7, 9]

In [8]:
def twice(n):
    return n*2
doubles = list(map(twice,odd_num)) # The map function will apply user defined "twice()" function on all items of the list
doubles

[2, 6, 10, 14, 18]

In [9]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all items of the list using lambda function.
doubles

[2, 6, 10, 14, 18]

In [10]:
from functools import reduce

def add(a,b):
    return a+b
  
sum_all = reduce(add,doubles) # This reduce function will perform sum of all items in the list using user defined "add()" func.
sum_all

50

In [11]:
#The below reduce() function will perform sum of all items in the list using lambda function.
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

50

In [12]:
# Putting all together 

sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,list1)))))
sum_all

50

In [16]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd =  list(filter(lambda n: n%2 !=0 ,list1))   # Filter odd numbers from the list


print('--------')
print(even)
print(odd)
print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']
upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings from the list

lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings from the list


print(upper)
print(lower)
print('--------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']

numeric = list(filter(lambda x:x.isnumeric(), list3))  # filter numbers from the list

alpha = list(filter(lambda x:x.isalpha(), list3))      # filter character strings from the list

alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character strings from the list


print(alpha)
print(numeric)
print(alphanum)
print('--------')


#Vowel Test

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [17]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x+x

def add(x,y):
    return x+y

def square(x):
    return x*x

print('---------------')

print(list(map(double, list1))) # Double each number using map & User defined function
print(list(map(add, list1, list2))) # add two items  using map & User defined function
print(list(map(square, list1))) #Square numbers using map & User defined function

print('---------------')

print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items  using map & lambda
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda

print('---------------')

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [18]:
list2 = [1,2,3,4]

product = reduce (operator.mul,list2) # Product of all numbers in a list

add = reduce(operator.add,list2) # Add all numbers in the list

concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate string using reduce 

prod = reduce(operator.mul,['Hello ' , 3]) #Repeat a string multiple times

min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the list using reduce () & lambda

max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the list using reduce () & lambda

print(product)

print(add)

print(concat_str)

print(prod)

print(min_num)

print(max_num)

NameError: ignored

In [19]:
def min_func(a, b):
        return a if a < b else b
 

def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & User defined min function

max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & User defined min function

min_num , max_num

(1, 4)

In [21]:
# Create a class with property "var1"
class myclass:
  var1=10

obj1= myclass() # Create an object of class "myclass()"
print(obj1.var1)

10

In [22]:
class Employee:
  def __init__(self, name, empid): # __init__() function is used to assign values for name and empid
    self.name= name
    self.empid = empid
  def greet(self): # Class Method
    print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163)  # Create an employee object

print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Asif
Employee ID :-  34163
Thanks for joining ABC Company Asif!!

In [23]:
emp1.name = 'Basit' # Modify Object Properties
emp1.name

'Basit'

In [24]:
del emp1.empid   # Delete Object Properties
emp1.empid

AttributeError: ignored

In [25]:
del emp1 # Delete the object
emp1

NameError: ignored

In [26]:
emp2 = Employee("Michael", 34162)  # Create an employee object

print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

Name :-  Michael
Employee ID :-  34162
Thanks for joining ABC Company Michael!!

In [27]:
emp2.country = 'India' #instance variable can be created manually
emp2.country

'India'

In [29]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        

        
class teacher(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))


        
stud1 = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details')
print('---------------')
stud1.PersonInfo()    # PersonInfo() method presnt in Parent Class will be accessible by child class
stud1.StudentInfo()
print()

teacher1 = teacher('Basit' , 36 , 'Male' , 456 , 80000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo()    # PersonInfo() method presnt in Parent Class will be accessible by child class
teacher1.TeacherInfo()

Student Details
---------------
Name :- Asif
Age :- 24
Gender :- Male
Student ID :- 123
Fees :- 1200

Employee Details
---------------
Name :- Basit
Age :- 36
Gender :- Male
Employee ID :- 456
Salary :- 80000

In [30]:
# super() builtin function allows us to access methods of the base class.

class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        super().__init__(name,age,gender)  
        self.studentid = studentid
        self.fees = fees
    
    def StudentInfo(self):
        super().PersonInfo()
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        
stud = student('Asif' , 24 , 'Male' , 123 , 1200)
stud.StudentInfo()

Name :- Asif
Age :- 24
Gender :- Male
Student ID :- 123
Fees :- 1200

In [31]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class employee(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def employeeInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
        
        

        
class fulltime(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,WorkExperience):
        employee.__init__(self,name,age,gender,empid,salary)
        self.WorkExperience = WorkExperience
    
    def FulltimeInfo(self):
        print('Work Experience :- {}'.format(self.WorkExperience))
        
        
        

class contractual(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,ContractExpiry):
        employee.__init__(self,name,age,gender,empid,salary)
        self.ContractExpiry = ContractExpiry
    
    def ContractInfo(self):
        print('Contract Expiry :- {}'.format(self.ContractExpiry))

        
print('Contractual Employee Details')
print('****************************')
contract1 = contractual('Basit' , 36 , 'Male' , 456 , 80000,'21-12-2021')
contract1.PersonInfo()
contract1.employeeInfo()
contract1.ContractInfo()

print('\n \n')

print('Fulltime Employee Details')
print('****************************')
fulltim1= fulltime('Asif' , 22 , 'Male' , 567 , 70000, 12)
fulltim1.PersonInfo()
fulltim1.employeeInfo()
fulltim1.FulltimeInfo()

Contractual Employee Details
****************************
Name :- Basit
Age :- 36
Gender :- Male
Employee ID :- 456
Salary :- 80000
Contract Expiry :- 21-12-2021



Fulltime Employee Details
****************************
Name :- Asif
Age :- 22
Gender :- Male
Employee ID :- 567
Salary :- 70000
Work Experience :- 12

In [32]:
# Super Class
class Father:
    def __init__(self):
        self.fathername = str()

    
# Super Class
class Mother:
    def __init__(self):
        self.mothername = str()
    
    
# Sub Class
class Son(Father, Mother):
    name = str()
    def show(self):
        print('My Name :- ',self.name)
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
 
 
s1 = Son()
s1.name = 'Bill'
s1.fathername = "John"
s1.mothername = "Kristen"
s1.show()

My Name :-  Bill
Father : John
Mother : Kristen

In [34]:
class CurrentDate:
    def __init__(self,date):
        self.date = date    
        
class CurrentTime:
    def __init__(self,time):
        self.time = time

class timestamp(CurrentDate,CurrentTime):
    def __init__(self,date,time):
        CurrentDate.__init__(self,date)
        CurrentTime.__init__(self,time)
        DateTime = self.date + ' ' + self.time
        print(DateTime)

datetime1 = timestamp( '2020-08-09', '23:48:55')

2020-08-09 23:48:55

In [35]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print("Hello Person")
        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees

    def greet(self):
        print("Hello Student")
        
    
stud = student('Gabriel' , 56 , 'Male' , 45 , 345678)
stud.greet() # greet() method defined in subclass will be triggered as "stud" is an object of child class

person1 = person('Gabriel' , 56 , 'Male')
person1.greet() # greet() method defined in superclass will be triggered because "person1" is an object of parent class

Hello Student
Hello Person

In [36]:
list1 = ['asif' , 'john' , 'Michael' , 'Basit']

'asif' in list1  # Membership check using 'in' operator

True

In [39]:
assert 'john' in list1  # If the condition returns true the program does nothing and move to the next line of code

In [38]:
assert 'john1' in list1 # If the condition returns false, Assert will stop the program and throws an AssertionError.

AssertionError: ignored

In [4]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist) # Create an iterator object using iter()
print(next(list_iter))  # return first element in the iterator stream
print(next(list_iter))  # return next element in the iterator stream
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))

Asif
Basit
John
Michael

StopIteration: ignored

In [5]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)     # Create an iterator object using iter()
print(list_iter.__next__())  # return first element in the iterator stream
print(list_iter.__next__())  # return next element in the iterator stream
print(list_iter.__next__())
print(list_iter.__next__())

Asif
Basit
John
Michael

In [6]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)     # Create an iterator object using iter()
for i in list_iter:
    print(i)

Asif
Basit
John
Michael

In [7]:
# Looping Through an Iterable (list) using for loop

mylist = ['Asif' , 'Basit' , 'John' , 'Michael']

for i in mylist:
    print(i)

Asif
Basit
John
Michael

In [8]:
# Looping Through an Iterable (tuple) using for loop

mytuple = ('Asif' , 'Basit' , 'John' , 'Michael')

for i in mytuple:
    print(i)

Asif
Basit
John
Michael

In [9]:
# Looping Through an Iterable (string) using for loop

mystr = "Hello Python"

for i in mystr:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [10]:
# This iterator produces all natural numbers from 1 to 10.
class myiter:
     def __init__(self):
            self.num = 0
     
     def __iter__(self):
            self.num = 1
            return self
     
     def __next__(self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration

mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
class myiter:

  def __init__(self):
    self.num=0
  
  def __iter__(self):
    self.num=1
    return self
  def __next__(self):
    if self.num <=20:
      val = self.num
      self.num += 2
      val= self.num
      return val
    else:
      raise StopIteration

myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
    print(i)

3
5
7
9
11
13
15
17
19
21

In [12]:
# This iterator will produce fibonacci numbers

class myfibonacci:
     def __init__(self):
            self.prev = 0
            self.cur = 0
     
     def __iter__(self):
            self.prev = 0
            self.cur = 1
            return self
     
     def __next__(self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration

myfibo = myfibonacci()
iter1 = iter(myfibo)
for i in iter1:
    print(i)

1
1
2
3
5
8
13
21
34

In [13]:
# Simple generator function that will generate numbers from 1 to 5.
def mygen():
    n = 1
    yield n

    n += 1
    yield n

    n += 1
    yield n

    n += 1
    yield n
    
    n += 1
    yield n
    
mygen1 = mygen()

In [16]:
# Simple generator function that will generate numbers from 1 to 5.
def mygen():
    n = 1
    yield n

    n += 1
    yield n

    n += 1
    yield n

    n += 1
    yield n
    
    n += 1
    yield n
    
mygen1 = mygen()
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been returned. 
print(next(mygen1)) # As function is already terminated, StopIteration is raised automatically.

1
2
3
4
5

StopIteration: ignored

In [17]:
# Simple generator function that will generate natural numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        yield i

    
mygen1 = mygen()

for i in mygen1:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
num = list(mygen()) # Store all values generated by generator function in a list
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
# Simple generator function that will generate even numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        if i%2 == 0:
            yield i

    
mygen1 = mygen()

for i in mygen1:
    print(i)

2
4
6
8
10
12
14
16
18

In [20]:
list1 = list(myfibo()) # Store the fibonacci series in a list
list1

TypeError: ignored

In [21]:
list2 = [i**2 for i in range(10)]  # List comprehension
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
gen2 = (i**2 for i in range(10)) # Generator expression
gen2

In [23]:
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))

0
1
4
9
16

In [24]:
gen2 = (i for i in range(40) if i%2 == 0) # Generator expression to generate even numbers 
gen2

for i in gen2:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [25]:
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
    
subtract(4,2)
subtract(2,4)

Result is :-  2
Result is :-  -2

In [26]:
''' We now want subtract() function to always subtract lower number from higher one without modifying this function.
    So when we pass (2,4) it should perform 4-2 not 2-4. To acheive this we will create a decorator function'''
    

def sub_decorator(func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
            
sub = sub_decorator(subtract)

sub(2,4)

Result is :-  2

In [27]:
@sub_decorator   # we can use @ syntax for decorating a function in one step
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
subtract(2,4)

Result is :-  2

In [28]:
def InstallLinux():
    print('Linux installation has started \n')
    
def InstallWindows():
    print('Windows installation has started \n')
    
def InstallMac():
    print('Mac installation has started \n')

    
InstallLinux()
InstallWindows()
InstallMac()

print()


''' Now suppose if we want to print message :- "Please accept terms & conditions" before every installation 
    then easy way will be to create one decorator function which will present this message instead of modifying all functions'''
  
    

def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()

@InstallDecorator    # we can use @ syntax for decorating a function in one step
def InstallLinux():
    print('Linux installation has started \n')
  
@InstallDecorator
def InstallWindows():
    print('Windows installation has started \n ')
 
@InstallDecorator
def InstallMac():
    print('Mac installation has started \n')

Linux installation has started

Windows installation has started

Mac installation has started


Please accept terms & conditions
Linux installation has started

Please accept terms & conditions
Windows installation has started

Please accept terms & conditions
Mac installation has started

In [29]:
# Apply multiple decorator on a single function

def InstallDecorator1(func):
    def wrapper():
        print('Please accept terms & conditions...\n')
        func()
    return wrapper

def InstallDecorator2(func):
    def wrapper():
        print('Please enter correct license key...\n')
        return func()
    return wrapper


def InstallDecorator3(func):
    def wrapper():
        print('Please enter partitioning choice...\n')
        return func()
    return wrapper

@InstallDecorator1
@InstallDecorator2
@InstallDecorator3
def InstallLinux():
    print('Linux installation has started \n')

InstallLinux()

Please accept terms & conditions...

Please enter correct license key...

Please enter partitioning choice...

Linux installation has started

In [31]:
fileobj = open('test1.txt')  # Open file in read/text mode

In [32]:
fileobj = open('test1.txt', 'r') # Open file in read mode

In [33]:
fileobj = open('test1.txt', 'w') # Open file in write mode

In [ ]:
fileobj = open('test1.txt', 'a') # Open file in append mode

In [34]:
fileobj.close()

In [36]:
fileobj = open('test1.txt')
fileobj.read() #Read whole file

'Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\\nIt is a special type of function which returns an iterator object.\\nIn a generator function, a yield statement is used rather than a return statement.\\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.'

In [37]:
fileobj.read() #File cursor is already at the end of the file so it won't be able to read anything.

''

In [38]:
fileobj.seek(0) # Bring file cursor to initial position.
fileobj.read()

'Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\\nIt is a special type of function which returns an iterator object.\\nIn a generator function, a yield statement is used rather than a return statement.\\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.'

In [39]:
fileobj.seek(7) # place file cursor at loc 7
fileobj.read()

'generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\\nIt is a special type of function which returns an iterator object.\\nIn a generator function, a yield statement is used rather than a return statement.\\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.'

In [40]:
fileobj.seek(0)

fileobj.read(16) # Return the first 16 characters of the file

'Python generator'

In [41]:
fileobj.tell() # Get the file cursor position

16

In [42]:
fileobj.seek(0)

print(fileobj.readline()) # Read first line of a file.

print(fileobj.readline()) # Read second line of a file.

print(fileobj.readline()) # Read third line of a file.

Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\nIt is a special type of function which returns an iterator object.\nIn a generator function, a yield statement is used rather than a return statement.\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [43]:
fileobj.seek(0)

fileobj.readlines() # Read all lines of a file.

['Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\\nIt is a special type of function which returns an iterator object.\\nIn a generator function, a yield statement is used rather than a return statement.\\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.']

In [44]:
# Read first 5 lines of a file using readline()
fileobj.seek(0)

count = 0
for i in range(5):
    if (count < 5):
        print(fileobj.readline())
    else:
        break
    count+=1

Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\nIt is a special type of function which returns an iterator object.\nIn a generator function, a yield statement is used rather than a return statement.\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [45]:
# Read first 5 lines of a file using readlines()
fileobj.seek(0)

count = 0
for i in fileobj.readlines():
    if (count < 5):
        print(i)
    else:
        break
    count+=1

Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\nIt is a special type of function which returns an iterator object.\nIn a generator function, a yield statement is used rather than a return statement.\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [46]:
fileobj = open('test1.txt', 'a')

fileobj.write('THIS IS THE NEW CONTENT APPENDED IN THE FILE') # Append content to the file

fileobj.close()

fileobj = open('test1.txt')

fileobj.read()

'Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.\\nIt is a special type of function which returns an iterator object.\\nIn a generator function, a yield statement is used rather than a return statement.\\nThe generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.\\nThe difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.\\nMethods like __iter()__ and __next()__ are implemented automatically in generator function.\\nSimple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.\\nThe syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.THIS IS THE NEW CONTENT APPENDED IN THE FILE'

In [47]:
fileobj = open("test2.txt", "w") # Create a new file

fileobj.write("First Line\n") 
fileobj.write("Second Line\n")
fileobj.write("Third Line\n") 
fileobj.write("Fourth Line\n")
fileobj.write("Fifth Line\n")
fileobj.close()

fileobj = open('test2.txt')

fileobj.readlines()

['First Line\n',
 'Second Line\n',
 'Third Line\n',
 'Fourth Line\n',
 'Fifth Line\n']

In [50]:
import os
import sys
os.remove("test3.txt") # Delete file

FileNotFoundError: ignored

In [51]:
try:
    print(100/0) # ZeroDivisionError will be encountered here. So the control will pass to except block
    
except:
    print(sys.exc_info()[1] , 'Exception occured') # This statement will be executed 
    
else:
    print('No exception occurred') # This will be skipped as code block inside try encountered an exception

finally:
    print('Run this block of code always') # This will be always executed

division by zero Exception occured
Run this block of code always

In [52]:
try:
    print(x)  # NameError exception will be encountered as variable x is not defined                               

except:
    print('Variable x is not defined')

Variable x is not defined

In [53]:
try:
    os.remove("test3.txt") # FileNotFoundError will be encountered as "test3.txt" is not present in the directory
    
except:                     # Below statement will be executed as exception occured.          
    print("BELOW EXCEPTION OCCURED") 
    print(sys.exc_info()[1])
    
else:
    print('\nNo exception occurred')

finally:
    print('\nRun this block of code always')

BELOW EXCEPTION OCCURED
[Errno 2] No such file or directory: 'test3.txt'

Run this block of code always